<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kyungbok"
        android:label="week12_Report"
        android:roundIcon="@drawable/kyungbok"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week12"
        tools:targetApi="31">
        <activity
            android:name=".Report3_Settings"
            android:exported="true" />
        <activity
            android:name=".Report3"
            android:exported="true" />
        <activity
            android:name=".Report2_admin"
            android:exported="true" />
        <activity
            android:name=".Report2_Settings4"
            android:exported="true" />
        <activity
            android:name=".Report2_Settings3"
            android:exported="true" />
        <activity
            android:name=".Report2_Settings2"
            android:exported="true" />
        <activity
            android:name=".Report2_Settings1"
            android:exported="true" />
        <activity
            android:name=".Report2"
            android:exported="true" />
        <activity
            android:name=".Report1"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>